*,body,html{
	margin: 0;
	padding: 0;
	font: 1.03em "Open Sans", sans-serif;
}

body {
	background-color: red;
	/*
	background-color: #eee;
	background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);*/

}

/*------------------------------------*/

.menu{
	position: fixed;
	left: 0;
	top: 0;
	border-top:0;
	z-index: 100;
	
	box-shadow: 5px 5px 1px grab(0,0,0,0,3);
	width: 100%;
	background-color :#333;
	color: #fff;
	height: 60px;
}

.menu #logo{
	float:left;
	height: 30px;
	padding: 15px 30px;
	font-size: 1.2em;
	line-height: 30px;
	display: none;

}

.myimg{
	width: 100px;
	float:left;
	height: 30px;
	padding: 15px 30px;
	font-size: 1.2em;
	line-height: 30px;
}


.menu > ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.menu > ul > li {
	float: left;
}

.menu-item{
	display: inline-block;
	padding: 15px 20px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-decoration: none;
}

.menu-item:hover{
	background-color: #4777E6;
	color: #000;
}
/*--------------- STYLING SUB --------------------*/

.sub-contect{
	position: absolute;
	top: 60px;
	overflow: hidden;
	background-color:#333;
	max-height: 0px;

}

.sub-contect a{
	color: #fff;
	text-decoration: none;
}

.sub-drp{
	padding: 0;
}

.sub-drp ul {
	width: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.sub-drp ul li a {
	display: inline-block;
	padding: 10px 20px;
}

.sub-drp ul li:hover{
	background-color: #ff0055;
}

/*--------------- Controling--------------------*/

.menu-item:focus{
	background-color: #ff0055;
}

.menu ul li:hover .sub-contect{
	max-height: 400px;
	transition: max-height 0.3s ease-in;
	-webkit-transition: max-height 0.3s ease-in;
	-moz-transition: max-height 0.3s ease-in;


}

#rmenu{
	float: right;
}
